<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>911540765104-bq61kio0ik0e56nbasdaog2ii5a151sp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911540765104-bq61kio0ik0e56nbasdaog2ii5a151sp</string>
	<key>API_KEY</key>
	<string>AIzaSyBEql5SNf3ZvKMLpcDT38nEFy6QpZcglPk</string>
	<key>GCM_SENDER_ID</key>
	<string>911540765104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ba.BAChat</string>
	<key>PROJECT_ID</key>
	<string>hapapp-dc7be</string>
	<key>STORAGE_BUCKET</key>
	<string>hapapp-dc7be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:911540765104:ios:446c9723e5f2a5e6</string>
	<key>DATABASE_URL</key>
	<string>https://hapapp-dc7be.firebaseio.com</string>
</dict>
</plist>